* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 2.5rem 5%;
}
.nav-bar .logo {
  display: block;
}
.nav-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3.5rem;
  width: 100%;
}
.nav-bar .container .links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav-bar .container .links .feature,
.nav-bar .container .links .company {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.nav-bar .container .links .feature .link,
.nav-bar .container .links .company .link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-bar .container .links .feature img,
.nav-bar .container .links .company img {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.nav-bar .container .links .feature-box {
  display: none;
  flex-direction: column;
  width: 180px;
  gap: 1.25rem;
  position: absolute;
  right: 0;
  top: calc(100% + 1rem);
  background-color: hsl(0, 0%, 98%);
  padding: 1.5rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  box-shadow: 0 0 1.5rem hsla(0, 0%, 41%, 0.3);
}
.nav-bar .container .links .feature-box .box-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 0.925rem;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}
.nav-bar .container .links .feature-box .box-item:hover {
  color: hsl(0, 0%, 8%);
}
.nav-bar .container .links .feature-box .box-item img {
  width: 17px;
  height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav-bar .container .links .company-box {
  display: none;
  flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 150px;
  background-color: hsl(0, 0%, 98%);
  padding: 1.5rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  box-shadow: 0 0 1.5rem hsla(0, 0%, 41%, 0.3);
}
.nav-bar .container .links .company-box .box-item {
  font-weight: 400;
  font-size: 0.925rem;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}
.nav-bar .container .links .company-box .box-item:hover {
  color: hsl(0, 0%, 8%);
}
.nav-bar .container .links .feature.active .link,
.nav-bar .container .links .company.active .link {
  color: hsl(0, 0%, 8%);
}
.nav-bar .container .links .feature.active img,
.nav-bar .container .links .company.active img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.nav-bar .container .links .feature.active .feature-box,
.nav-bar .container .links .feature.active .company-box,
.nav-bar .container .links .company.active .feature-box,
.nav-bar .container .links .company.active .company-box {
  display: flex;
}
.nav-bar .container .links .link {
  font-size: 0.925rem;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  cursor: pointer;
}
.nav-bar .container .links .link:hover {
  color: hsl(0, 0%, 8%);
}
.nav-bar .container .nav-btns {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav-bar .container .nav-btns .login-btn {
  font-size: 0.925rem;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  cursor: pointer;
}
.nav-bar .container .nav-btns .login-btn:hover {
  color: hsl(0, 0%, 8%);
}
.nav-bar .container .nav-btns .register-btn {
  font-size: 0.925rem;
  padding: 0.8rem 1.4rem;
  border: 0.1rem solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  background-color: transparent;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  cursor: pointer;
}
.nav-bar .container .nav-btns .register-btn:hover {
  border-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}
.nav-bar .links-btn {
  display: none;
  cursor: pointer;
}

.main-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 2.5rem 10%;
}
.main-content .content {
  width: 50%;
}
.main-content .content .title {
  font-size: 4rem;
  font-weight: 700;
}
.main-content .content .text {
  color: hsl(0, 0%, 41%);
  font-weight: 400;
  line-height: 1.6rem;
  max-width: 400px;
  padding: 3.75rem 0;
}
.main-content .content .btn {
  padding: 0.9rem 1.6rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
  font-size: 0.925rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.main-content .content .btn:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
}
.main-content .content .logos {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-top: 7.5rem;
}
.main-content .main-image {
  width: 50%;
  height: 700px;
  background-image: url(images/image-hero-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 932px) {
  .main-content {
    flex-direction: column-reverse;
    padding: 2.5rem 5%;
  }
  .main-content .content {
    width: 100%;
    text-align: center;
  }
  .main-content .content .title {
    font-size: 2.75rem;
  }
  .main-content .content .text {
    margin: auto;
    padding: 1.5rem 0;
  }
  .main-content .content .logos {
    justify-content: space-between;
    padding-top: 4rem;
    gap: 1.5rem;
  }
  .main-content .content .logos img {
    width: 100%;
    max-width: 100px;
  }
  .main-content .main-image {
    width: min(650px, 100%);
    height: min(564px, 50vw);
    background-image: url(images/image-hero-mobile.png);
    background-size: cover;
  }
  .nav-bar {
    justify-content: space-between;
    position: relative;
    isolation: isolate;
  }
  .nav-bar .container {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    position: fixed;
    right: -220px;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 0 1.5rem hsla(0, 0%, 41%, 0.3);
    padding-left: 0;
    z-index: -1;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .nav-bar .container.active {
    right: 0;
  }
  .nav-bar .container .links {
    flex-direction: column;
  }
  .nav-bar .container .links .feature-box,
  .nav-bar .container .links .company-box {
    position: static;
  }
  .nav-bar .container .nav-btns {
    flex-direction: column;
    width: 90%;
  }
  .nav-bar .container .nav-btns .register-btn {
    width: 100%;
  }
  .nav-bar .links-btn {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */